<script src="http://f1.eu.readspeaker.com/script/{{ config.getParameter('readspeaker_client_id') }}/ReadSpeaker.js?pids=embhl" type="text/javascript"></script>
<script>
(function () {
    var lang = 'fr_fr';
    var speaker = 'Thomas';
    var divid = 'mydiv';
    //

    'use strict';
    var button =
    '<div id="readspeaker_button1" class="rs_skip rsbtn rs_preserve">' +
    '<a rel="nofollow" class="rsbtn_play" accesskey="L" title="Utiliser readspeaker" href="http://app.eu.readspeaker.com/cgi-bin/rsent?customerid={{ config.getParameter('readspeaker_client_id') }}&amp;'
    + 'lang=' + lang +'&amp;voice=' + speaker + '&amp;readid=[READID]&amp;url=ENCODED_URL">'+
    '<span class="rsbtn_left rsimg rspart"><span class="rsbtn_text"><span>Écouter</span></span></span>' +
    '<span class="rsbtn_right rsimg rsplay rspart"></span>' +
    '</a></div>';
    var tinymce = window.tinymce;

    //tinymce.PluginManager.requireLangPack('inwicast', 'en,fr_FR');
    tinymce.PluginManager.add('readspeakershow', function(editor, url) {

        editor.addButton('readspeakershow', {
            tooltip: "Read speaker",
            icon: "none fa fa-volume-up",
            onclick: function() {
                var currentButton = button;
                var divid = Math.random().toString(36).substring(7);
                currentButton = currentButton.replace("[READID]", divid);
                currentButton = currentButton.replace("ENCODED_URL", '[' + 'ENCODED_URL' + ']');
                var content = editor.selection.getContent();

                if (content !== '') {
                    content = currentButton + '<div id="' + divid + '">' + content + '</div>';
                    editor.selection.setContent(content);
                } else {
                    content = editor.getContent();
                    content = currentButton + '<div id="' + divid + '">' + content + '</div>';
                    editor.setContent(content);
                }
            }
        });
        //console.log(Routing.generate("inwicast_mediacenter_user_videos_tinymce",{}, true));
    });

    //tinymce.PluginManager.requireLangPack('inwicast', 'en,fr_FR');
    tinymce.PluginManager.add('readspeakerhide', function(editor, url) {
        editor.addButton('readspeakerhide', {
            tooltip: "Read speaker hide",
            icon: "none fa fa-volume-down",
            onclick: function() {
                alert('click');
                var currentButton = button;
                var divid = Math.random().toString(36).substring(7);
                currentButton = currentButton.replace("[READID]", divid);
                currentButton = currentButton.replace("ENCODED_URL", '[' + 'ENCODED_URL' + ']');
                var content = editor.selection.getContent();

                if (content !== '') {
                    content = currentButton + '<div style="display: none;" id="' + divid + '">' + content + '</div>';
                    editor.selection.setContent(content);
                } else {
                    content = editor.getContent();
                    content = currentButton + '<div style="display: none;" id="' + divid + '">' + content + '</div>';
                    editor.setContent(content);
                }
            }
        });
    });

    tinymce.claroline.plugins.readspeakershow = true;
    tinymce.claroline.plugins.readspeakerhide = true;
}());
</script>
